@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
