@import "tailwindcss";



:root {
  --background: #ffffff;

}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f3c3e;

  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
  
.team_container{
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(234, 225, 225);
}s
.team_container:hover{
  box-shadow:#cbd6d8 0px 5px 5px 5pxs;
  background-color: rgb(61, 52, 52);
  cursor: pointer;
}